---
layout: default
title: Home
published: true
---

<h3>안녕하세요👋 프로젝트를 진행하며 배운 것들을 기록하는 공간입니다.</h3>

<div class="posts">
  {% assign posts_grouped_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year_group in posts_grouped_by_year %}
    <h2 class="year" style="margin-top: 3rem; font-weight: 900; color: rgb(141, 141, 141);">{{ year_group.name }}</h2>
    {% for post in year_group.items %}
    <div class="post">
      <span>{{ post.date | date: "%Y.%m.%d" }}</span> >> <a href="{{ post.url | absolute_url }}" style="font-weight: 600; color: rgb(41, 116, 255);">{{ post.title }}</a>
    </div>
    {% endfor %}
  {% endfor %}
</div>
