---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  <div>
    {% for post in site.categories[page.category] %}
    <hr>
    <div class="post postThumbnail">
      <h2 class="post-title">
        <a href="{{ post.url | absolute_url }}" style="font-weight: 600; color: rgb(41, 116, 255);">
          {{ post.title }}
        </a>
      </h2>
      <p class="post-excerpt">{{ post.excerpt }}</p>
      <span class="post-date">{{ post.date | date_to_string }}</span>
    </div>
    {% endfor %}
  </div>
</div>

{% if page.previous %}
  <a href="{{ page.previous.url }}">Previous: {{ page.previous.title }}</a>
{% endif %}

{% if page.next %}
  <a href="{{ page.next.url }}">Next: {{ page.next.title }}</a>
{% endif %}
